* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13151b;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-weight: bold;
}

footer {
    background: #13151b;
    font-size: 14px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13151b;
    padding: 10px 40px; 
    max-width: 1200px; 
    margin: auto; 
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #6e00cc;
    border-radius: 5px;
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.btn-purple {
    background-color: #6e00cc; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-purple:hover {
    background-color: #5e00b1; 
}

.botao:hover {
    background-color: #6e00cc;
}

.container2 {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    
    
}

ul.recursos {
    list-style: none; 
    padding: 0;
    text-align: center;
}

ul.recursos li {
    font-size: 18px;
    margin: 10px 0;
}

.botao-estilizado {
    background-color: #6e00cc;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-estilizado:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.botao-estilizado:active {
    transform: scale(0.98);
}