<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Criar um formulário para os usuários enviarem um nome, um mês e um dia -->
                <form action="/" method="post">
                    <input autocomplete="off" autofocus placeholder="Name" name="name" type="text" required>
                    <input autocomplete="off" autofocus placeholder="Month" month="month" type="text" required>
                    <input autocomplete="off" autofocus placeholder="Day" day="day" type="text" required>
                    <button type="submit">Add Birthday</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Percorrer as entradas do banco de dados para exibi-las nesta tabela -->
                         
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
