{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for registrosAcoes in registrosAcoes %} 
                    <tr>
                        <td>{{ registrosAcoes.symbol }}</td>
                        <td>{{ registrosAcoes.shares }}</td>
                        <td>{{ registrosAcoes.price }}</td>
                        <td>{{ registrosAcoes.price * registrosAcoes.shares }}</td>
                     </tr>
                {% endfor %}
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Cash</th>
                <td>{{ cash|round(2) }}</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
               <th>TOTAL</th> 
               <td>{{ totalCash|round(2) }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}